<div class="container">
  <div class="row">
    
   <div *ngFor="let product of products">
      <div class="row col s12 m6 l3">
        <div  class="card-image waves-effect waves-block waves-light">
            <img  width="200" height="200" src="assets/products/{{product.image}}.jpg">
        </div>
        
        <p>id: {{product.id}}</p>
        <p>Nombre: {{product.nombre}}</p>
        <p>Precio: {{product.price | currency : 'USD': true : '1.2-2' }}</p>
        <p>Cantidad: {{product.quantity}}</p>
      </div>

   </div>
  </div>
</div>