<div class="container">
  <div class="row">

    <div *ngFor="let product of products">
        <div class="row col s12 m4 " >
            <div class="card-panel hoverable lighten-1 z-depth-1 ">
              <div class="row center">
                <a routerLink="/detailsProduct/{{product.id}}">                
                  <img  src="assets/products/{{product.image}}.jpg" alt="" class="responsive-img ">
                </a>                   
                <div class="row center">
                    <h5>{{product.nombre }}</h5>
                    <span>{{product.price | currency : 'USD': true : '1.2-2'}}</span>
                </div>
                
                <button class=" btn waves-effect waves-light" (click)="addProduct(product)" type="submit"  value="submit">Agregar al carrito</button>
            </div>
        </div>
      </div>
  </div>
  
  