<div class="container">
  <div class="row">
        <div class="row col s12 " >
            <div class="card-panel {{miembro.colorFondo}} hoverable white lighten-1 z-depth-5 ">
              <div class="row ">
                <div class="row col s12 ">
                  <img  src="assets/{{miembro.imgPerfil}}.jpg" alt="" class=" responsive-img">
                </div>
                <div  class="row col s12" >
                  <span class="black-text">
                    <h5><p>Id: {{miembro.id}}</p></h5>
                  </span>
                  <span class="black-text">
                    <h5><p>Title: {{miembro.title}}</p></h5>
                  </span>
                  <span class="black-text">
                    <h5><p>Body: {{miembro.body}}</p></h5>
                  </span>
                  <span class="black-text">
                    <h5><p>Background-color: {{miembro.colorFondo}}</p></h5>
                  </span>
                  <span class="black-text">
                    <h5><p>Name Img Perfil: {{miembro.imgPerfil}}</p></h5>
                  </span>
                </div>
                
                <!--<div *ngIf="miembro.id == idMod" class="input-field col s9 m10">
                  <textarea [(ngModel)]="miembro.body" id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Textarea</label>
                </div>               -->
              </div>
            </div>
        </div>
     
  </div>

  <div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large red">Opt</a>
    <ul>
      <li><a class="btn-floating btn-small waves-effect waves-light red right center" (click)="modMiembro(miembro)">m</a></li>
    </ul>
</div>
