<div class="container">
  <div class="row">
      <div class="input-field col s12">
        <input (keyup)="searchMiembro()" [(ngModel)]="portion" type="text" class="validate">
        <label for="Search">Search</label>
      </div>
      <app-spinner></app-spinner>
    <div *ngFor="let miembro of miembros | paginate: { itemsPerPage: 4, currentPage: p }">
        <div class="row col s12 m6 " >
            <div class="card-panel hoverable {{miembro.colorFondo}} lighten-1 z-depth-2 ">
             
              <div class="row valign-wrapper ">
                 <a  routerLink="/detailsMiembro/{{miembro.$key}}">
                    <div class="col s3 m3">
                      <img  src="assets/{{miembro.imgPerfil}}.png" width="50" height="50" alt="" class="circle ">
                    </div>
                    <div *ngIf="miembro?.$key != idMod" class="col s9 m9" >
                      <span class="black-text">
                        <h5>{{miembro.title}}</h5>
                      </span>
                      <span class="black-text">
                        {{miembro.body}}
                      </span>
                    </div>
                   </a>
                <div *ngIf="miembro?.$key == idMod" class="col s9 m9">
                  <label for="textarea1">Textarea</label>
                  <textarea [(ngModel)]="miembro.body" id="textarea1" class="materialize-textarea"></textarea>
                </div>    
              </div>
               
                <a class="btn-floating btn-small waves-effect waves-light red right center" (click)="delMiembroArray(miembro?.$key)">x</a>
                <a class="btn-floating btn-small waves-effect waves-light blue right center" (click)="modMiembro(miembro,miembro?.$key)">m</a>
            </div>
        </div>
      </div>
  </div>

  <div class="row col s12 center pagination">
    <pagination-controls (pageChange)="p = $event" #api></pagination-controls>
  </div>     
</div>

<div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large red"><i class="material-icons">mode_edit</i></a>
    <ul>
      <li><a class="btn-floating green darken-1 "(click)="openModal()" ><i class="material-icons">add</i></a></li>
    </ul>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal " materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <h4>Agregar Tarjeta</h4>
      
        <form materialize class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input #title type="text" class="validate">
              <label for="title">Titulo</label>
            </div>
        <div class="input-field col s12">
          <textarea #body class="materialize-textarea"></textarea>
          <label for="body">Cuerpo</label>
        </div>
            <div class="input-field col s12">
              <input #background type="text" class="validate">
              <label for="Background">Color : ejemplo (red, blue, orange)</label>
            </div>
            <div class="input-field col s12">
              <input #imgPerfil type="text" class="validate">
              <label for="imgPerfil">Numero de la imagen de 1 - 30</label>
            </div>
          </div>
        </form>

    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat" 
      (click)="addMiembro(title.value,body.value,background.value,imgPerfil.value)">Agree</a>
    </div>
  </div>

  <br/><br/>