<div class="navbar-fixed hide-on-med-and-down">
  <nav>
    <div class="nav-wrapper  purple lighten-1 z-depth-3">
      <ul>
       <li  class=" brand-logo ">
         <h6 class="valign-wrapper"> 
           <img *ngIf="user.auth?.photoURL" class=" circle" width="50" height="50" src="{{ user.auth?.photoURL }}" > 
           {{ (user.auth)?.displayName }}
         </h6>
       </li>
      </ul> 
    
      <ul class="right hide-on-med-and-down">
          <li  
            (mouseover)="mouseover()" 
            (mouseleave)="mouseleave()" 
            >
            <div style=" display: inline-flex;">
              <i   class="material-icons">shopping_cart</i>
               <span>{{details.items}} </span>
            </div>
            <ul>
              <li class="liCart" >
                <cart *ngIf="ver"></cart>
              </li>
            </ul>
            </li>

          <li>
          <a class="waves-effect" routerLink="/mostrar" >Mostrar</a>
          </li>
          <li>
          <a class="waves-effect" routerLink="/grillas" >Grillas</a>
          </li>        
          <li>
          <a class="waves-effect" routerLink="/imagenes" >Imagenes</a>
          </li>        
          <li>
          <a class="waves-effect" routerLink="/mostrar2" >Mostrar2</a>
          </li>        
          <li>
          <a class="waves-effect" routerLink="/pagination" >Pagination</a>
          </li>
          <li>
          <a class="waves-effect" routerLink="/formularios" >Formularios</a>
          </li>
          <li>
          <a class="waves-effect" routerLink="/tienda" >Tienda</a>
          </li>
            <li>
          <a class="waves-effect" (click)="login2()" >{{login}}</a>
          </li>
      </ul>
           
    </div>
  </nav>
</div>

<nav class="hide-on-large-only purple lighten-1 z-depth-3">
    <ul>
       <li  class=" brand-logo ">
         <h6 class="valign-wrapper"> 
           <img *ngIf="user.auth?.photoURL" class=" circle" width="50" height="50" src="{{ user.auth?.photoURL }}" > 
           {{ (user.auth)?.displayName }}
         </h6>
       </li>
      </ul> 
  
     <ul id="slide-out" class="side-nav  ">
          <li><div class="userView">
            <div class="background">
              <img src="assets/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="{{ user.auth?.photoURL }}"></a>
            <a href="#!name"><span class="white-text name">{{ (user.auth)?.displayName }}</span></a>
            <a href="#!email"><span class="white-text email">{{ (user.auth)?.email }}</span></a>
          </div></li>
              <li><a target="_blank" href="https://ve.linkedin.com/in/jorge-marquez-garcía-6661a4b6"><i class="material-icons">grade</i>Mi linkedin</a></li>
              <li><a target="_blank" href="https://github.com/Jorgemarquez2222"><i class="material-icons">work</i>Mi GtiHub</a></li>
              <li><div class="divider"></div></li>
              <!--<li><a class="subheader">Subheader</a></li>-->

              <li>
              <a  class="waves-effect" routerLink="/mostrar" >Mostrar</a>
              </li>
              <li>
              <a  class="waves-effect" routerLink="/grillas" >Grillas</a>
              </li>        
              <li>
              <a  class="waves-effect" routerLink="/imagenes" >Imagenes</a>
              </li>        
              <li>
              <a  class="waves-effect" routerLink="/mostrar2" >Mostrar2</a>
              </li>        
              <li>
              <a  class="waves-effect" routerLink="/pagination" >Pagination</a>
              </li>
              <li>
              <a class="waves-effect" routerLink="/formularios" >Formularios</a>
              </li>
              <li>
              <a class="waves-effect" (click)="login2()" >{{login}}</a>
              </li>

      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse "><i class="material-icons">menu</i></a>
</nav>