<div class="navbar-fixed hide-on-med-and-down">
  <nav>
    <div class="nav-wrapper  purple lighten-1 z-depth-3">
      <ul>
       <li  class=" brand-logo ">
         <h6 class="valign-wrapper"> 
           <img *ngIf="user.auth?.photoURL" class=" circle" width="50" height="50" src="{{ user.auth?.photoURL }}" > 
           {{ (user.auth)?.displayName }}
         </h6>
       </li>
      </ul> 
    
      <ul class="right hide-on-med-and-down">
          <li>
          <a class="waves-effect" routerLink="/inicio" class="alinear" ><i class="material-icons">location_on</i>Inicio</a>
          </li>
          <li>
          <a class="waves-effect" routerLink="/grillas" class="alinear" ><i class="material-icons">settings_input_hdmi</i>Data local</a>
          </li>        
          <li>
          <a class="waves-effect" routerLink="/imagenes" class="alinear" ><i class="material-icons">dns</i>Firebase</a>
          </li>        
          <li>
          <a class="waves-effect" routerLink="/mostrar2" class="alinear"><i class="material-icons">play_for_work</i>Scroll infinito</a>
          </li>        
          <li>
          <a class="waves-effect" routerLink="/pagination" class="alinear" ><i class="material-icons">repeat</i>Paginacion</a>
          </li>
          <!--<li>
          <a class="waves-effect" routerLink="/formularios" class="alinear" >Formularios</a>
          </li>-->
          <li>
          <a class="waves-effect" routerLink="/tienda" class="alinear"><i class="material-icons">store</i>Tienda</a>
          </li>
          <li  
            (mouseover)="mouseover()" 
            (mouseleave)="mouseleave()" 
            
            >
            <div  class="alinear">
              <i   class="material-icons">shopping_cart</i>
               <span>{{details.items}} </span>
            </div>
            <ul>
              <li class="liCart" >
                <cart *ngIf="ver"></cart>
              </li>
            </ul>
            </li>
          <li>
          <a class="waves-effect" (click)="login2()" class="alinear" ><i class="material-icons">lock</i>{{login}}</a>
          </li>
      </ul>
           
    </div>
  </nav>
</div>

<nav class="hide-on-large-only purple lighten-1 z-depth-3">
    <ul>
       <li  class=" brand-logo ">
         <h6 class="valign-wrapper"> 
           <img *ngIf="user.auth?.photoURL" class=" circle" width="50" height="50" src="{{ user.auth?.photoURL }}" > 
           {{ (user.auth)?.displayName }}
         </h6>
       </li>
      </ul> 
  
     <ul id="slide-out" class="side-nav  ">
          <li><div class="userView">
            <div class="background">
              <img src="assets/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="{{ user.auth?.photoURL }}"></a>
            <a href="#!name"><span class="white-text name">{{ (user.auth)?.displayName }}</span></a>
            <a href="#!email"><span class="white-text email">{{ (user.auth)?.email }}</span></a>
          </div></li>
              <li><a target="_blank" href="https://ve.linkedin.com/in/jorge-marquez-garcía-6661a4b6"><i class="material-icons">grade</i>Mi linkedin</a></li>
              <li><a target="_blank" href="https://github.com/Jorgemarquez2222"><i class="material-icons">work</i>Mi GtiHub</a></li>
              <li><div class="divider"></div></li>
              <!--<li><a class="subheader">Subheader</a></li>-->

              <li>
              <a class="waves-effect" routerLink="/inicio" ><i class="material-icons">location_on</i>Inicio</a>
              </li>
              <li>
              <a class="waves-effect" routerLink="/grillas" ><i class="material-icons">settings_input_hdmi</i>Data local</a>
              </li>        
              <li>
              <a class="waves-effect" routerLink="/imagenes" ><i class="material-icons">dns</i>Firebase</a>
              </li>        
              <li>
              <a class="waves-effect" routerLink="/mostrar2"><i class="material-icons">play_for_work</i>Scroll infinito</a>
              </li>        
              <li>
              <a class="waves-effect" routerLink="/pagination" ><i class="material-icons">repeat</i>Paginación</a>
              </li>
              <!--<li>
              <a class="waves-effect" routerLink="/formularios" >Formularios</a>
              </li>-->
              <li>
              <a class="waves-effect" routerLink="/tienda"><i class="material-icons">store</i>Tienda</a>
              </li>
                <li>
              <a class="waves-effect" (click)="login2()" ><i class="material-icons">lock</i>{{login}}</a>
              </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse "><i class="material-icons">menu</i></a>
</nav>