
  <div class="parallax-container">
    <div class="parallax"><img src="assets/home-bg.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Jorge Marquez</h2>
      <p class="grey-text text-darken-3 lighten-3">Desarrollador web con experiencia comprobable en el manejo de las tecnologías Angular 2, ExtJs, PHP, Jquery, JavaScript, HTML5 y Json. Administración de sitios web. Amplia disposición para aprender nuevas tecnologías.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/parallax2.jpg"></div>
  </div>
    <div class="section white">
    <div class="row container">
      <h2 class="header">Estudios</h2>
      <p class="grey-text text-darken-3 lighten-3">
        Ingeniero en Informatica egresado en noviembre del año 2015 de la Universidad Nacional Experimental de Guayana (Venezuela)
        Cuenta de  <a target="_blank" href="https://ve.linkedin.com/in/jorge-marquez-garcía-6661a4b6">Linkedin</a><br>
        Repositorio de  <a target="_blank" href="https://github.com/Jorgemarquez2222">GitHub</a><br>
    </div>
  </div>
      